.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -26px;

  .btn {
    margin-right: 20px;
  }
}

.inputs {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
}

.inputs-root {
  border: 1px #ddd solid;
  border-bottom-style: none;
}

.loading-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}