.label {
  padding-left: 8px;
  border-left: solid 3px #3ed2a9;
}

.label-github {
  padding-left: 8px;
  border-left: solid 3px #f48c56;
}

.divider {
  height: 0;
  margin: 2rem 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
}

input {
  font-size: 0.75rem;
}

.btn {
  font-size: 70%;
}