<main>
    <div class="d-flex flex-row align-items-stretch" style="height: 100%;">
        <div class="left-panel-container">
            <a class="panel-btn"
               [ngClass]="{'panel-btn-selected' : selectedIndex == 0}"
               (click)="selectedIndex = 0"
               routerLink="/home">
                <i class="fa fa-image"></i>&nbsp;&nbsp;图床
            </a>
            <a class="panel-btn"
               [ngClass]="{'panel-btn-selected' : selectedIndex == 1}"
               (click)="selectedIndex = 1"
               routerLink="/config">
                <i class="fa fa-tasks"></i>&nbsp;&nbsp;配置
            </a>
            <a class="panel-btn"
               [ngClass]="{'panel-btn-selected' : selectedIndex == 2}"
               (click)="selectedIndex = 2"
               routerLink="/setting">
                <i class="fa fa-cogs"></i>&nbsp;&nbsp;设置
            </a>
        </div>
        <div class="right-panel-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>