.header {
  -webkit-app-region: drag;
  background: linear-gradient(0deg, #465a96, #3F51B5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
}

.nav-btn {
  color: rgba(255, 255, 255, 0.25);
  flex: 1;
  padding: 6px;

}

.nav-btn-selected {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: #FF5722 3px solid;
  border-radius: 0;
}
