<div class="example-container">
    <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="img">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Img</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!--<span class="text">{{element.img}}</span>-->
                <img [src]="element.img" style="width: 160px; height: 90px">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header > CreateTime</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="text">{{element.createTime}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header > Title</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="text">{{element.title}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header > SubTitle</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="text">{{element.subTitle}}</span>
            </mat-cell>
        </ng-container>

        <!-- Symbol2 Column -->
        <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right;"> 操作</mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align: right;">
                <button mat-button color="primary" (click)="onEditSeedClick(element)">编辑</button>
                <button mat-button color="warn" (click)="onDeleteSeedClick(element)">删除</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<app-floating-bottom>

    <button mat-fab color="primary" (click)="onAddSeedClick()">
        <i class="fa fa-plus"></i>
    </button>

    <button mat-fab color="warn" (click)="onOpenMarkdownDialogClick()">
        <i class="fa fa-magic"></i>
    </button>
</app-floating-bottom>