<div class="progress-spinner-container" *ngIf="isLoading" @fadeInOut>
    <mat-progress-spinner
            class="progress-spinner"
            [color]="'primary'"
            [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>

<mat-table #table [dataSource]="dataSource" matSort class="seed-table" *ngIf="!isLoading" @fadeInOut>
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Title</mat-header-cell>
        <mat-cell *matCellDef="let element" class="title-column">
            <span class="column-text">{{element.title}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="subtitle-column"> SubTitle</mat-header-cell>
        <mat-cell *matCellDef="let element" class="subtitle-column">
            <span class="column-text">{{element.subTitle}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="time-column"> CreateTime</mat-header-cell>
        <mat-cell *matCellDef="let element" class="time-column">
            <!--<span class="text">{{element.createTime}}</span>-->
            <span class="column-text">{{"2015-06-15T09:03:01+0900" | date:'yyyy年MM月dd日'}}</span>
        </mat-cell>
    </ng-container>

    <!-- Symbol2 Column -->
    <ng-container matColumnDef="operation">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="operation-column"> 操作</mat-header-cell>
        <mat-cell *matCellDef="let element" class="operation-column">
            <button mat-button color="primary" (click)="onEditSeedClick(element)">编辑</button>
            <button mat-button color="warn" (click)="onDeleteSeedClick(element)">删除</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<app-floating-bottom>

    <button mat-fab color="primary" (click)="onAddSeedClick()">
        <i class="fa fa-plus"></i>
    </button>

    <button mat-fab color="warn" (click)="onOpenMarkdownDialogClick()">
        <i class="fa fa-magic"></i>
    </button>
</app-floating-bottom>