<main>
    <div class="d-flex flex-row align-items-stretch" style="height: 100%">
        <div style="background-color: #ECECEC; width: 140px">
            <div>
                <a routerLink="/home">图床</a>
            </div>
            <div>
                <a routerLink="/config">站点配置</a>
            </div>
            <div>
                <a routerLink="/setting">设置</a>
            </div>
        </div>
        <div style="background-color: #FFFFFF; flex: 1; overflow-y: scroll">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>