.upload-btn {
  cursor: pointer;
  outline: none;
  text-align: center;
  font-weight: 400;
  display: block;
  background: white;
  color: #5d5d5d;
  padding: 10px 20px;
  border-radius: 3px;
  border: solid 1px #ddd;
  &:hover {
    background-color: #F8F8F8;
    text-decoration: none;
  }
}
