<div class="container d-flex flex-column">

  <nav
    class="navbar navbar-expand-lg navbar-light bg-light pl-0 pr-0 pt-lg-5 pb-lg-5 pt-3 pb-4 bg-transparent">

    <a class="author flex-fill" routerLink="/">
      <img class="navbar-brand avatar mr-2 mr-lg-4 p-0" src="/assets/icon/favicon-96x96.png"
           alt="Azhong.work">
      Azhong.work
    </a>

    <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<ul class="navbar-nav mr-auto">-->
      <!--<li></li>-->
      <!--</ul>-->
      <a class="mr-auto"></a>
      <a *ngFor="let link of links"
         [ngClass]="{'active': currentUrl?.startsWith('/' + link) || (currentUrl == '/' && link == 'home') }"
         data-toggle="collapse" data-target=".navbar-collapse.show"
         (click)="onNavClick(link)"
         class="link ml-lg-5 ml-2 mt-1 mt-lg-0 p-2">{{link}}</a>
    </div>
  </nav>
  <div class="flex-fill d-flex flex-column">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>

  <div class="footer-link pt-5 pb-5">
    <a href="mailto:zhongyanbenny@gmail.com">Email</a>
    <a href="https://www.behance.net/zhongyanbenny" target="_blank" class="ml-3 mr-3 ml-lg-5 mr-lg-5">Behance</a>
    <a href="https://dribbble.com/zhongyanbenny" target="_blank">Dribbble</a>
    <a href="/" class="float-right">Azhong.work</a>
  </div>
  <div class="pb-3 d-flex justify-content-center align-items-center power-by">
    <a href="http://www.septenary.cn/">powered by Septenary</a>
    <a class="rounded border p-1 pl-2 pr-2 d-flex ml-3 align-items-center"
       href="https://www.septenary.cn/#ua-download" target="_blank">
      <img src="/assets/icon/ua.svg" class="mr-2 ua-icon">
      <div class="download">
        <small>Download</small>
        <br>UniversalArtist
      </div>
    </a>

  </div>
</div>
<app-back-top></app-back-top>
