<mat-grid-list cols="3" [gutterSize]="4" rowHeight="16:9" style="margin-bottom: 10px" lazy-load-images>
    <mat-grid-tile
            *ngFor="let item of data"
            [colspan]="1"
            [rowspan]="1">
        <img class="img"
             style="width: 100%; height: 100%; object-fit: cover"
             appImgAppear
             [attr.data-src]="item.key | thumbnail" src="" alt="">
        <div class="mask">
          <button mat-button style="color: #EEE" (click)="onCopyImgLinkClick(item.key)">复制链接</button>
          <button mat-button style="color: #EEE" (click)="onPreviewImgClick(item.key)">预览图片</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<app-upload-status>
</app-upload-status>

<app-floating-bottom>
    <button mat-fab color="primary" (click)="onSortClick()">
        <i *ngIf="order" class="fa fa-sort-amount-asc"></i>
        <i *ngIf="!order" class="fa fa-sort-amount-desc"></i>
    </button>

    <button mat-fab color="warn" (click)="fileUpload.click()">
        <i class="fa fa-upload"></i>
        <input #fileUpload type="file" name="file" style="display: none;"
               multiple="multiple"
               accept="image/gif, image/png, image/jpeg, image/bmp, image/webp"
               (change)="handleInputChange($event)">
    </button>
</app-floating-bottom>