/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  overflow-y: auto;
  color: #4A4A4A;
   //background-image: linear-gradient(to right top, #97aead, #fefefe);
}