.img {
  transition: all 0.25s ease-in-out;
  //&:hover {
  //  transform: scale(1.2);
  //  filter: invert(100%);
  //  //filter: brightness(200%)
  //  // filter: contrast(200%)
  //  // filter: drop-shadow(8px 8px 10px gray)
  //  // filter: grayscale(100%)
  //  // filter: hue-rotate(90deg)
  //  // filter: opacity(30%)
  //  // filter: saturate(8)
  //  // filter: sepia(100%)
  //  // filter: contrast(200%) brightness(150%)
  //  // filter: none
  //}
}

.imgBoard {
  padding: 16px;
  overflow-y: auto;
  flex: 1;
}

button {
  margin-left: 18px;
  & i {
    font-size: 150%;
  }
}

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  background: rgba(44, 62, 80, 0.90);
  &:hover {
    opacity: 1;
  }
}