<div class="home-container">
  <div class="imgBoard">
    <div *ngFor="let item of data" class="imgCard" style="position: relative">
      <img
        class="img"
        style="width: 100%; height: 100%"
        (click)="onImgClick(item.key)"
        [src]="item.key | thumbnail">
    </div>
  </div>

  <div class="bottom-bar d-flex flex-row align-items-center p-2">
    <button class="bottom-btn" (click)="onSortClick()">
      <i *ngIf="order" class="fa fa-sort-amount-asc">&nbsp;&nbsp;时间正序</i>
      <i *ngIf="!order" class="fa fa-sort-amount-desc">&nbsp;&nbsp;时间倒序</i>
    </button>
    <app-upload-button></app-upload-button>
  </div>
</div>
